params.singularity_cache_dir = "/software/projects/pawsey0862/singularity_cache"   


singularity.enabled    = true
singularity.autoMounts = true
docker.enabled         = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

singularity.cacheDir = "${params.singularity_cache_dir}"
process.beforeScript = 'source /software/projects/pawsey0862/nf-tower/nft_initiate_compute_env.sh'
process.clusterOptions = " --account=pawsey0862 "