/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/ausargph Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/


params {
    
    input = null
    filter = null 
    blat_db = null
    fastq_suffix = "fastq"
    batching_size=250  
    trim_alignment = true
    tree_method = "iqtree"
    assembly = "trinity"
  

    //Default values for aster parameters
    aster_args = null
    aster_cpus = 1
    aster_memory = 8.GB
    aster_walltime = 12.h

    //Default values for bbmap_dedupe parameters
    bbmap_dedupe_args = "ac=f"
    bbmap_dedupe_cpus = 1
    bbmap_dedupe_memory = 24.GB
    bbmap_dedupe_walltime = 4.h

    //Default values for bbmap_filter parameters
    bbmap_filter_args = "minid=0.75"
    bbmap_filter_cpus = 1
    bbmap_filter_memory = 16.GB
    bbmap_filter_walltime = 4.h
    bbmap_reformat_args = null
    bbmap_reformat_cpus = 1
    bbmap_reformat_memory = 4.GB
    bbmap_reformat_walltime = 4.h
    
    //Default values for bbmap_reformat2 parameters
    bbmap_reformat2_args = "minconsecutivebases=100 dotdashxton=true fastawrap=32000"
    bbmap_reformat2_cpus = 1
    bbmap_reformat2_memory = 8.GB
    bbmap_reformat2_walltime = 12.h
    
    //Default values for blat parameters
    blat_args = "-out=blast8"
    blat_cpus = 1
    blat_memory = 4.GB
    blat_walltime = 4.h
    
    //Default values for sed parameters
    sed_args = null
    sed_cpus = 1
    sed_memory = 8.GB
    sed_walltime = 12.h

    //Default values for concatenate parameters
    concatenate_args = null
    concatenate_cpus = 1
    concatenate_memory = 4.GB
    concatenate_walltime = 4.h
    
    //Default values for gblocks parameters
    gblocks_b1 = 0.5
    gblocks_b2 = 0.85
    gblocks_args = "-t=DNA -b3=8 -b4=10 -b5=h -p=n"
    gblocks_cpus = 1
    gblocks_memory = 8.GB
    gblocks_walltime = 12.h

    //Default values for iqtree parameters
    iqtree_args = "--quiet -B 1000"
    iqtree_cpus = 1
    iqtree_memory = 8.GB
    iqtree_walltime = 12.h
    //Default values for macse parameteres
    
    //Default values for mafft parameters
    mafft_args =  "--maxiterate 1000 --globalpair --adjustdirection --quiet"
    mafft_cpus = 1
    mafft_memory = 4.GB
    mafft_walltime = 4.h

    //Default values for make_prg parameters
    make_prg_args = "--kept-tags easy_recip_match,complicated_recip_match"
    make_prg_cpus = 1
    make_prg_memory = 4.GB
    make_prg_walltime = 4.h

    //Default values for merge_trees parameters
    merge_trees_args = null
    merge_trees_cpus = 1
    merge_trees_memory = 8.GB
    merge_trees_walltime = 12.h

    //Default values for parse_blat_results parameters
    parse_blat_results_args = "--evalue 1e-10 --match 80"
    parse_blat_results_cpus = 1
    parse_blat_results_memory = 8.GB
    parse_blat_results_walltime = 12.h

    //Default values for pear parameters
    pear_args = null
    pear_cpus = 1
    pear_memory = 8.GB
    pear_walltime = 12.h

    //Default values for perl_cleanup parameters
    perl_cleanup_args = "-pi -w -e \"s/!/N/g;\""
    perl_cleanup_cpus = 1
    perl_cleanup_memory = 4.GB
    perl_cleanup_walltime = 8.h

    //Default values for phylogeny_make_alignments parameters
    phylogeny_make_alignments_args = "--minsamp 4"
    phylogeny_make_alignments_cpus = 1
    phylogeny_make_alignments_memory = 4.GB
    phylogeny_make_alignments_walltime = 4.h
    
    //Default values for prepare_adaptor parameters
    prepare_adaptor_args = null
    prepare_adaptor_cpus = 1
    prepare_adaptor_memory = 2.GB
    prepare_adaptor_walltime = 1.h

    //Default values for preprocessing parameters
    preprocessing_args = null
    preprocessing_cpus = 1
    preprocessing_memory = 8.GB
    preprocessing_walltime = 12.h

    //Default values for quality_2_assembly parameters
    quality_2_assembly_args = null
    quality_2_assembly_cpus = 1
    quality_2_assembly_memory = 8.GB
    quality_2_assembly_walltime = 12.h

    //Default values for raxml parameters
    raxml_runs = 100
    raxml_args = "-m GTRCAT -f a -n"
    raxml_cpus = 1
    raxml_memory = 8.GB
    raxml_walltime = 12.h

    //Default values for testing parameters
    testing_args = null
    testing_cpus = 1
    testing_memory = 8.GB
    testing_walltime = 12.h

    //Default values for trimmomatic parameters
    trimmomatic_args = "-phred33"
    trimmomatic_cpus = 1
    trimmomatic_memory = 4.GB
    trimmomatic_walltime = 4.h

    //Default values for trimmomatic_clean_pe parameters
    trimmomatic_clean_pe_args = "-phred33 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36"
    trimmomatic_clean_pe_cpus = 1
    trimmomatic_clean_pe_memory = 4.GB
    trimmomatic_clean_pe_walltime = 4.h

    //Default values for trimmomatic_clean_se parameters
    trimmomatic_clean_se_args = "-phred33 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36"
    trimmomatic_clean_se_cpus = 1
    trimmomatic_clean_se_memory = 4.GB
    trimmomatic_clean_se_walltime = 4.h
    
    //Default values for trinity parameters
    trinity_args = "--seqType fq --NO_SEQTK --normalize_reads"
    trinity_cpus = 6
    trinity_memory = 24.GB
    trinity_walltime = 12.h
    trinity_normalize_reads = false
    assembly_processed_header = "contig"
    trinity_scratch_tmp = false

    //Default values for assembly_postprocessing parameters
    assembly_postprocessing_args = null
    assembly_postprocessing_cpus = 1
    assembly_postprocessing_memory = 4.GB
    assembly_postprocessing_walltime = 4.h
   
    //Default values for spades parameters
    spades_cpus = 6
    spades_memory = 24.GB
    spades_walltime = 12.h
    spades_args = null

    phylogeny_make_alignments_keep_output = false
    assembly_postprocessing_keep_output = false
    trimmomatic_clean_pe_keep_output = false
    trimmomatic_clean_se_keep_output = false
    parse_blat_results_keep_output = false
    quality_2_assembly_keep_output = false
    bbmap_reformat2_keep_output = false
    prepare_adaptor_keep_output = false
    bbmap_reformat_keep_output = false
    convert_phyml_keep_output = false
    preprocessing_keep_output = false
    bbmap_dedupe_keep_output = false
    bbmap_filter_keep_output = false
    perl_cleanup_keep_output = false
    concatenate_keep_output = false
    merge_trees_keep_output = true
    trimmomatic_keep_output = false
    make_prg_keep_output = true
    gblocks_keep_output = true
    testing_keep_output = false
    trinity_keep_output = false
    iqtree_keep_output = true
    aster_keep_output = true
    //macse_keep_output = false
    mafft_keep_output = true
    raxml_keep_output = true
    blat_keep_output = false
    pear_keep_output = false
    sed_keep_output = false
    spades_keep_output = false

}


process.ext.fastq_suffix = "${params.fastq_suffix}"

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h  * task.attempt, 'time'   ) }

    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
  
   

    
}
