/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/ausargph Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/


params {
    
    fastq_suffix = "fastq"
    batching_size=250  
    trim_alignment = true
    tree_method = "raxml"
    
  

   //Default values for aster parameteres
    aster_args = null
    aster_cpus = 1
    aster_memory = 8.GB
    aster_walltime = 12.h
    //Default values for bbmap_dedupe parameteres
    bbmap_dedupe_args = null
    bbmap_dedupe_cpus = 1
    bbmap_dedupe_memory = 24.GB
    bbmap_dedupe_walltime = 4.h
    //Default values for bbmap_filter parameteres
    bbmap_filter_args = null
    bbmap_filter_cpus = 1
    bbmap_filter_memory = 16.GB
    bbmap_filter_walltime = 4.h
    bbmap_filter_minid = 0.75
    bbmap_filter_mem = 2
    disable_filter = true

    //Default values for bbmap_reformat parameteres
    bbmap_reformat_args = null
    bbmap_reformat_cpus = 1
    bbmap_reformat_memory = 4.GB
    bbmap_reformat_walltime = 4.h
    
    //Default values for bbmap_reformat2 parameteres
    bbmap_reformat2_args = null
    bbmap_reformat2_cpus = 1
    bbmap_reformat2_memory = 8.GB
    bbmap_reformat2_walltime = 12.h
    bbmap_reformat_minconsecutivebases = 100
    bbmap_reformat_dotdashxton = true
    bbmap_reformat_fastawrap = 32000

    //Default values for blat parameteres
    blat_args = null
    blat_cpus = 1
    blat_memory = 4.GB
    blat_walltime = 4.h
    
    blat_parser_match = 80
    blat_parser_evalue = 1e-10
    
    //Default values for sed parameteres
    sed_args = null
    sed_cpus = 1
    sed_memory = 8.GB
    sed_walltime = 12.h
    //Default values for concatenate parameteres
    concatenate_args = null
    concatenate_cpus = 1
    concatenate_memory = 4.GB
    concatenate_walltime = 4.h
    //Default values for convert_phyml parameteres
    convert_phyml_args = null
    convert_phyml_cpus = 1
    convert_phyml_memory = 8.GB
    convert_phyml_walltime = 12.h
    //Default values for gblocks parameteres
    gblocks_b1 = 0.5
    gblocks_b2 = 0.85
    gblocks_b3 = 8
    gblocks_b4 = 10
    gblocks_args = null
    gblocks_cpus = 1
    gblocks_memory = 8.GB
    gblocks_walltime = 12.h
    //Default values for iqtree parameteres
    iqtree_args = null
    iqtree_cpus = 1
    iqtree_memory = 8.GB
    iqtree_walltime = 12.h
    //Default values for macse parameteres
    
    /*macse_stop = 10
    macse_program = "refineLemmon"
    macse_args_refine = null
    macse_args_refineLemmon = null
    macse_args_export = null
    macse_args_align = null
    macse_cpus = 1
    macse_memory = 8.GB
    macse_walltime = 12.h
    macse_refine_alignment_optim = 1
    macse_refine_alignment_local_realign_init = 0.1
    macse_refine_alignment_local_realign_dec = 0.1
    macse_refine_alignment_fs = 10
    */
    //Default values for mafft parameteres
    mafft_maxiterate = 1000
    mafft_args = null
    mafft_cpus = 1
    mafft_memory = 4.GB
    mafft_walltime = 4.h
    //Default values for make_prg parameteres
    make_prg_kept_tags = "easy_recip_match,complicated_recip_match"
    make_prg_args = null
    make_prg_cpus = 1
    make_prg_memory = 4.GB
    make_prg_walltime = 4.h
    //Default values for merge_trees parameteres
    merge_trees_args = null
    merge_trees_cpus = 1
    merge_trees_memory = 8.GB
    merge_trees_walltime = 12.h
    //Default values for parse_blat_results parameteres
    parse_blat_results_args = null
    parse_blat_results_cpus = 1
    parse_blat_results_memory = 8.GB
    parse_blat_results_walltime = 12.h
    //Default values for pear parameteres
    pear_args = null
    pear_cpus = 1
    pear_memory = 8.GB
    pear_walltime = 12.h
    //Default values for perl_cleanup parameteres
    perl_cleanup_args = null
    perl_cleanup_cpus = 1
    perl_cleanup_memory = 4.GB
    perl_cleanup_walltime = 8.h
    //Default values for phylogeny_make_alignments parameteres
    phylogeny_make_alignments_args = null
    phylogeny_make_alignments_cpus = 1
    phylogeny_make_alignments_memory = 4.GB
    phylogeny_make_alignments_walltime = 4.h
    phylogeny_make_alignments_minsamp = 4
    //Default values for prepare_adaptor parameteres
    prepare_adaptor_args = null
    prepare_adaptor_cpus = 1
    prepare_adaptor_memory = 2.GB
    prepare_adaptor_walltime = 1.h
    //Default values for prepare_samplesheet parameteres
    prepare_samplesheet_args = null
    prepare_samplesheet_cpus = 1
    prepare_samplesheet_memory = 8.GB
    prepare_samplesheet_walltime = 12.h
    //Default values for preprocessing parameteres
    preprocessing_args = null
    preprocessing_cpus = 1
    preprocessing_memory = 8.GB
    preprocessing_walltime = 12.h
    //Default values for quality_2_assembly parameteres
    quality_2_assembly_args = null
    quality_2_assembly_cpus = 1
    quality_2_assembly_memory = 8.GB
    quality_2_assembly_walltime = 12.h
    //Default values for raxml parameteres
    raxml_runs = 100
    raxml_args = null
    raxml_cpus = 1
    raxml_memory = 8.GB
    raxml_walltime = 12.h
    //Default values for samplesheet_check parameteres
    samplesheet_check_args = null
    samplesheet_check_cpus = 1
    samplesheet_check_memory = 8.GB
    samplesheet_check_walltime = 12.h
    //Default values for testing parameteres
    testing_args = null
    testing_cpus = 1
    testing_memory = 8.GB
    testing_walltime = 12.h
    //Default values for trimmomatic parameteres
    trimmomatic_args = null
    trimmomatic_cpus = 1
    trimmomatic_memory = 4.GB
    trimmomatic_walltime = 4.h
    //Default values for trimmomatic_clean_pe parameteres
    trimmomatic_clean_pe_args = null
    trimmomatic_clean_pe_cpus = 1
    trimmomatic_clean_pe_memory = 4.GB
    trimmomatic_clean_pe_walltime = 4.h
    //Default values for trimmomatic_clean_se parameteres
    trimmomatic_clean_se_args = null
    trimmomatic_clean_se_cpus = 1
    trimmomatic_clean_se_memory = 4.GB
    trimmomatic_clean_se_walltime = 4.h
    trimmomatic_clean_minlength = 36
    trimmomatic_clean_trail = 3
    trimmomatic_clean_head = 3
    trimmomatic_clean_qual = 15

    //Default values for trinity parameteres
    trinity_args = null
    trinity_cpus = 6
    trinity_memory = 24.GB
    trinity_walltime = 12.h
    trinity_normalize_reads = false
    trinity_processed_header = "contig"
    trinity_scratch_tmp = false
    //Default values for trinity_postprocessing parameteres
    trinity_postprocessing_args = null
    trinity_postprocessing_cpus = 1
    trinity_postprocessing_memory = 4.GB
    trinity_postprocessing_walltime = 4.h
   
    phylogeny_make_alignments_keep_output = false
    trinity_postprocessing_keep_output = false
    trimmomatic_clean_pe_keep_output = false
    trimmomatic_clean_se_keep_output = false
    prepare_samplesheet_keep_output = false
    parse_blat_results_keep_output = false
    quality_2_assembly_keep_output = false
    samplesheet_check_keep_output = false
    bbmap_reformat2_keep_output = false
    prepare_adaptor_keep_output = false
    bbmap_reformat_keep_output = false
    convert_phyml_keep_output = false
    preprocessing_keep_output = false
    bbmap_dedupe_keep_output = false
    bbmap_filter_keep_output = false
    perl_cleanup_keep_output = false
    concatenate_keep_output = false
    merge_trees_keep_output = false
    trimmomatic_keep_output = false
    make_prg_keep_output = false
    gblocks_keep_output = false
    testing_keep_output = false
    trinity_keep_output = false
    iqtree_keep_output = false
    aster_keep_output = false
    //macse_keep_output = false
    mafft_keep_output = false
    raxml_keep_output = false
    blat_keep_output = false
    pear_keep_output = false
    sed_keep_output = false

}


process.ext.fastq_suffix = "${params.fastq_suffix}"

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h  * task.attempt, 'time'   ) }

    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
  
   

    
}
