/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = '1.GB'
    max_time   = '1.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = ''

    // Genome references
    genome = 'R64-1-1'
}

process {
    executor = 'local'
    //beforeScript = 'module use -a /g/data/if89/apps/modulefiles'
    cpus = 1
    memory = '3GB'
    time = '48:00:00'

    withName: TESTING {
        //module = 'HiFiAdapterFilt'
        cpus = 1
    }
    withName: BBMAP_DEDUPE {
        //module = 'bbmap'
        cpus = 1
    }
    withName: BBMAP_REFORMAT {
        //module = 'bbmap'
        cpus = 1
    }

}