/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Setonix profile'
    config_profile_description = 'Configuration to run on Setonix supercomputer at Pawsey'

    // Limit resources so that this can run on GitHub Actions
    // Max resource options
    // Defaults only, expecting to be overwritten
    
    max_memory                 = '128.GB'
    max_cpus                   = 48
    max_time                   = '24.h'
    
                    
    /*
    input = '/scratch/director2172/ziadbkh/my_data/ausarg/ian_data_t2/Extra_Test_Samples/'
    outdir = '/scratch/director2172/ziadbkh/my_data/ausarg/output_pip/'
    meta = '/scratch/director2172/ziadbkh/my_data/ausarg/ian_data_t2/Extra_Test_Samples/samples.csv'
    blat_db = '/scratch/director2172/ziadbkh/my_data/ausarg/squamate_AHE_UCE_genes_unique.flipped.fasta'
    reference_genome = '/scratch/director2172/ziadbkh/my_data/ausarg/Squamate_AHE_UCE_genes_Pygopodidae.fasta'
    */
    
}

process {
    executor = 'slurm'
    queue = 'work'
    //ext.singularity_pull_docker_container = true
}