/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 3
    max_memory = '8.GB'
    max_time   = '12.h'

    input = "/mnt/d/online/test_data/ToyData_sampleinfo-local.csv"
    outdir = "output_test"
    blat_db = "/mnt/d/online/test_data/SqCL_Targets.fasta"
    reference_genome = "/mnt/d/online/test_data/SqCL_Targets_Carphodactylidae.fasta"

    
}

executor {
    name = 'local'
    queueSize = 1
}