/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 3
    max_memory = '8.GB'
    max_time   = '12.h'

    input = "https://raw.githubusercontent.com/AusARG/pipesnake/main/example/data/ToyData_SampleInfo-online.csv"
    outdir = "output_test"
    blat_db = "https://raw.githubusercontent.com/AusARG/pipesnake/main/example/data/ToyData_SqCL_25Targets.fasta"
    reference_genome = "https://raw.githubusercontent.com/AusARG/pipesnake/main/example/data/ToyData_SqCL_Filter.fasta"

    
}

executor {
    name = 'local'
    queueSize = 1
}